- seller_link = link_to @buck_refund.item.name, @buck_refund.item.user

%p Your buck refund request has been sent to #{seller_link} and we will notify you once #{seller_link} responds. If you have any questions you may contact #{seller_link} or contact us at #{mail_to 'help@bibandtuck.com'}

%p If you’re not satisfied, we’re not.

