// Greys going from lightest to darkest
$grey_0: #ccc;      // 20% black: #D1D3D4
$grey_1: #abadb0;   // 38% black: #ABABB0
$grey_2: #999;      // 53% black: #8D9092
$grey_3: #666699;   // 62% black: #7D7E81
$grey_4: #666;      // 71% black: #6B6C6F
$grey_5: #333;      // 87% black: #48484A
$grey_6: #353535;   // 90% black: #414042

$grey_k20: #D1D3D4;
$grey_k30: #BBBDC0;
$grey_k38: #ABABB0;
$grey_k53: #8D9092;
$grey_k62: #7D7E81;
$grey_k71: #6B6C6F;
$grey_k87: #48484A;
$grey_k90: #414042;

// Someone should verify that these are the actual color names.
$blue:      #09f;    // 00AEEF
$beige:     #f2d2b3;
$orange:    #f90;
$brown:     #c60;
$yellow:    #fecc0b;
$yellow_2:  #fff0b5;
$yellow_3:  #f7bc3d;
$red: #D2232A;
$light_brown: #e3caa6;

$menu_hover_color: #FECC0B;
