%p Hi #{@item.user.first_name},

%p We just wanted to let you know that we've selected your #{link_to @item.name, item_url(@item)} as an #{link_to "Editor's Pick", items_url(:filter => :editors_picks)} on Bib + Tuck. Thanks for lending your impeccable style to the site and curating such a hot closet.

%p xo,
%p The B+T Team
