The following item has been flagged for removal:

== Item Name: #{@item.name}
== Seller: #{@item.user.display_name}
== Flagged on: #{bt_timestamp @flagged_item.created_at}
== Item: #{link_to 'item', item_url(@item)}
