%h1 Bib+Tuck Admin

%h3 Data Exports

%p= link_to 'Export Orders', export_orders_path(:format => :csv)
%p= link_to 'Export Items', export_items_path(:format => :csv)
%p= link_to 'Export Users', export_users_path(:format => :csv)
