var form = $('.user_edit_field_form');
var error_notice = $('.error_notice', form);
<% case @status %>
<% when :ok %>
form.html("<%= @message %>");
<% when :error %>
error_notice.empty();
<%   @user.errors.each_full do |error_msg| %>
error_notice.append("<p><%= error_msg %></p>");
<%   end %>
error_notice.show();
<% when :auth %>
$('input#password', form).addClass('error');
error_notice.html("<%= @message %>");
error_notice.show();
<% end %>
