#concierge.additional-information
  %p Hate taking photos or just don’t have time? Don’t worry. Contact us at #{mail_to 'concierge@bibandtuck.com'} or call us at (646) 568-5666 and we can arrange to photograph your stuff.

#convince_us.additional-information
  %p If you're certain that you should've gotten an invite because you're young, creative, and chic, then send an email to #{mail_to 'saris@bibandtuck.com'} telling us why you're tuck worthy and we'll be sure to correct the mistake.
