#community_guidelines_page
  .intro
    Bib + Tuck is our favorite marketplace and we hope it will be yours too. And, like any good
    community, it thrives because our members follow a few easy ground rules. So, what does it
    mean to bib and tuck like a lady?

  .title 1) Don't be a Swindler:
  .content
    Just as you learned in Bible School/Lifetime Channel/on the hard-hewn streets of the slums,
    trying to take advantage of others leads to nothing but trouble. When bibbing, it’s important
    to give only what you'd be willing to receive. Upload gently worn pieces that you love and the
    community will love you back. Fill it with mom jeans and Juicy sweatpants and we'll kick you
    out. Describe your item fairly. Retail blue balls is not fun for anyone.

  .title 2) Don't Play Hard to Get:
  .content
    When you get notified that someone has tucked your piece, ship it! They're patiently waiting
    for your item, don't hesitate to ship out.

  .title 3) Keep it pretty:
  .content
    Bib and Tuck strives to be a community for visual inspiration. Follow our photo tips and you'll
    never have to hear from us.

  .title 4) Be helpful:
  .content
    If you see something wrong with the site, tell us–we take criticism very well. And if you have
    any suggestions, we're eager to hear them too. If you find content or images that violate our
    Terms of Use, you may report the item by pushing the "Report Item" link.

  .sig Play hard, play right.
