#shipping_from_info_popup
  %h2 Why do I need to select location?
  %p
    To keep shipping costs low, we use USPS Regional Shipping, which means costs are calculated based on
    the city an item is being shipped to and from. That's why we ask for your zip code when bibbing an item.
