#shipping_box_info_popup
  %h2 Shipping Box Sizes

  %p
    Your box size defaults to either SMALL or LARGE depending on what your item is.
    If you think your item should be sent in a different box size, you can click on the
    current size and change it. Please see below for box measurments:

  %ul
    %li Small: 11 1/6" x 2 1/2" x 13 1/6"
    %li Large: 12 1/4" x 10 1/2" x 5 1/2"

  %p
    If you believe your item is too big and will not fit in either one of those two boxes,
    please contact us at #{mail_to 'help@bibandtuck.com'}

  %p
    And don't worry, we ship the boxes directly to you!
