.shipping_and_transaction_info
  .line
    &gt;&gt; Although we would love to avoid real money altogether, we charge a shipping and transaction fee
    to keep Bib + Tuck running.
  .line_bulleted SHIPPING FEE: Shipping costs $6 or  $11, depending on the size of your item.
  .line_bulleted TRANSACTION FEE: We charge a flat $3.00 per transaction

