%h1
  Thanks! In the meantime
  = succeed ',' do
    = link_to "tweet us", "https://twitter.com/#{TWITTER_HANDLE}"
  you #fashionaddictyou.
  And like us on
  = link_to "facebook", "https://facebook.com/bibandtuck"
  too.
