- attachments.inline['bib_tuck_logo.png'] = File.read("#{Rails.root}/public/images/email_bib_tuck_logo.png")
= link_to image_tag(attachments['bib_tuck_logo.png'].url), 'http://bibandtuck.com', :style => 'float:right;'

%p Hi #{@resource.first_name},

%p Can't remember your password? Happens to the best of us!

%p #{link_to 'Click here', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)} to reset your password.

%p xo,
%p The B+T Team
